<% if current_user %>
  <h2>Welcome, <%= current_user.name %>!</h2>
  <%= button_to "Logout", logout_path, method: :delete %>
  <p>Showing <%= @playlists.count %> playlists</p>
  <ul>
    <% @playlists.each do |playlist| %>
      <li><%= playlist.name %> (<%= playlist.track_count %> tracks)</li>
    <% end %>
  </ul>
<% else %>
  <%= link_to "Login with Spotify", "/auth/spotify" %>
<% end %>
